@model IEnumerable<Design.Models.Dto.ContactsDto>;
@{
    ViewData["Title"] = "Home Page";
    int iUserContact = 1;
}
<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm col-md ">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center pt-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Content</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">

                                        @iUserContact
                                        @{
                                            iUserContact = iUserContact + 1;
                                        }

                                    </th>
                                    <td>@item.uc_Name</td>
                                    <td>@item.uc_Email</td>
                                    <td>@item.uc_Content</td>
                                    <td>@item.uc_Phone</td>
                                    <td>@item.uc_IsDelete</td>
                                    
                                    <td>
                                        <a href="##">Edit</a>/
                                        <a href="##">Delete</a>/
                                        <a href="##">View</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Widgets End -->